@model SalesWeb.ViewModels.ProductViewModels.PostPutProductViewModel
@{
    Layout = "_Layout";
}
<h2>PRODUCT</h2>
<hr/>
<h4>CREATE NEW PRODUCT</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="contr-label"></label>
                <input asp-for="ProductName" class="form-control"/>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="contr-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CREATE" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">BACK TO LIST</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}