@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SALES WEB</h1>
    <p>CRISTIANO B. NORONHA <a href="mailto:cris_nor@hotmail.com">cris_nor@hotmail.com</a>.</p>
    <p>GITHUB <a href="https://github.com/CristianoBNoronha">https://github.com/CristianoBNoronha</a>.</p>
    <p>LINKEDIN <a href="https://www.linkedin.com/in/cristiano-bauschert-noronha">https://www.linkedin.com/in/cristiano-bauschert-noronha</a>.</p>
</div>