@model CreateSaleViewModel
@{
    ViewData["Title"] = "Post";
    Layout = "_Layout";
}
<h2>SALE</h2>
<form asp-action="Post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="success">
            <th>
                <label asp-for="SellerId" class="control-label"></label>
            </th>
            <th>
                <label asp-for="CustomerId" class="control-label"></label>
            </th>
        </tr>
        </thead>
        <tbody>
        <td>
            <div class="form-group">
                <select asp-for="SellerId" class="form-control" asp-items="ViewBag.SellerId"></select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
        </td>
        </tbody>
    </table>
    <hr/>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="success">
            <th>
                <label asp-for="ProductId" class="control-label"></label>
            </th>
            <th>
                <label asp-for="ProductQuantity" class="contr-label"></label>
            </th>
        </tr>
        </thead>
        <tbody>
        <td>
            <div class="form-group">
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input asp-for="ProductQuantity" class="form-control"/>
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
        </td>
        <br>
        <br>
        </tbody>
    </table>
    <div class="form-group">
        <input type="hidden" asp-for="SaleId"/>
        <input type="submit" value="CONFIRM PRODUCT" class="btn btn-primary"/>
    </div>
</form>
<br/>
<div>
    <a asp-action="Index" class="btn btn-primary">BACK TO LIST</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}