<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SalesWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SalesWeb.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-light">
                <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </button>
            <div class="btn-group" role="group">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Sellers
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" asp-controller="Seller" asp-action="Index">Sellers</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Seller" asp-action="Create">New seller</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" asp-controller="Product" asp-action="Index">Products</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Product" asp-action="Create">New product</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-light">
                    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </button>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        Cristiano B. Noronha &copy; 2022 - SalesWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>