@model SalesWeb.ViewModels.ErrorViewModels.ErrorViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<hr/>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr/>
<table class="table table-striped table-hover">
    <thead>
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Errors)
        </th>
        <th></th>
    </tr>
    </thead>
    <tr></tr>
    <tbody>
    @foreach (var error in Model.Errors)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => error)
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}